.notWrap {
    background: url(./assets/image/Main.jpg) no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
}
.notFounded {
    text-align: center;
    font-size: 48px;
    color: white;
}